.box {
    border-radius: 25px;
    border-color: #e6e6fa;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    background-color: #e6e6fa;
    margin-bottom: 20px;
}

h1 {
    color: #4B0082;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

p {
    color: black;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}

/*4b4254*/