.box {
    border-radius: 25px;
    border-color: #e6e6fa;
    border-style: solid;
    border-width: 3px;
    padding: 25px 25px 25px 25px;
    margin: 20px;
    background-color: #e6e6fa;
    text-align: center;
}

h1 {
    color: #4B0082;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

p {
    color: black;
    font-size: 20px;
    line-height: 30px;

}

input {
    border-radius: 5px;
    padding: 0 5px 0 5px !important;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 20px;
    line-height: 20px;
    width: 50%;
}

.prompt {
    color: black;
    font-size: 20px;
    line-height: 40px;
}

.button {
    margin-left: 10px;
    padding: 14px 20px;
    border-radius: 30px;
    border: none;
    background-color: #9370DB;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;

}